<ion-view view-title="Login">
  <ion-content>
    <form ng-submit="vm.login()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" ng-model="vm.user.email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="vm.user.password" placeholder="Password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">Login</button>
      </div>
    </form>
  </ion-content>
</ion-view>
