<ion-view view-title="Login">
  <ion-content>
    <form ng-submit="vm.login()">
      <div class="list">
        <label class="item item-input">
          <input ng-model="vm.user.email" placeholder="Email" type="email">
        </label>
        <label class="item item-input">
          <input ng-model="vm.user.password" placeholder="Password" type="password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">Login</button>
      </div>
    </form>
  </ion-content>
</ion-view>
