<ion-view view-title="Change Password">
  <ion-content>
    <form ng-init="vm.getOne()" ng-submit="vm.changePassword()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="password" ng-model="vm.user.oldPassword" placeholder="Old Password">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="vm.user.newPassword" placeholder="New Password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Change Password</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
