<ion-view view-title="Password">
  <ion-content>
    <form ng-init="vm.getOne()" ng-submit="vm.changePassword()">
      <div class="list">
        <label class="item item-input">
          <input ng-model="vm.user.oldPassword" placeholder="Old Password" type="password">
        </label>
        <label class="item item-input">
          <input ng-model="vm.user.newPassword" placeholder="New Password" type="password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">Change Password</button>
      </div>
    </form>
  </ion-content>
</ion-view>
