<ion-view view-title="Register">
  <ion-content>
    <form ng-submit="vm.create()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" ng-model="vm.user.name" placeholder="Name">
        </label>
        <label class="item item-input">
          <input type="email" ng-model="vm.user.email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="vm.user.password" placeholder="Password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
