<ion-view view-title="Profile">
  <ion-content>
    <form ng-init="vm.getOne()" ng-submit="vm.update()">
      <div class="list">
        <label class="item item-input">
          <input ng-model="vm.user.name" placeholder="Name" type="text">
        </label>
        <label class="item item-input">
          <input ng-model="vm.user.phone" placeholder="Phone Number" type="text">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">
          Save
        </button>
        <a class="button button-block button-clear button-positive" ui-sref="app.userPassword">
          Change Password
        </a>
      </div>
    </form>
  </ion-content>
</ion-view>
