<ion-view view-title="Profile">
  <ion-content>
    <form ng-init="vm.getOne()" ng-submit="vm.update()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" ng-model="vm.user.name" placeholder="Name">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="vm.user.phone" placeholder="Phone Number">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">Save</button>
      </div>
    </form>
  </ion-content>
</ion-view>
