<ion-view view-title="Vehicles">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-add" ui-sref="app.vehicleRegister"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list" ng-init="vm.getFewUser()">
      <a class="item" ng-repeat="vehicle in vm.vehicles" ui-sref="app.vehicleSettings({id: vehicle._id})">
        <h2>{{ vehicle.plate }}</h2>
        <p><strong>Make:</strong> {{ vehicle.make }}</p>
        <p><strong>Type:</strong> {{ vehicle.type }}</p>
        <p><strong>Colour:</strong> {{ vehicle.color }}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
